.redSpan {
    color: red;
}

/*.defaultSpan {*/
/*    border: chocolate 2px solid;*/
/*    border-radius: 5px;*/
/*    font-style: oblique;*/
/*    font-size: larger;*/
/*    text-shadow: 2px 4px 3px rgba(0,0,0,0.3)*/

/*}*/

.defaultSpan {
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
    color: transparent;
    transition: all 1s;
}
.defaultSpan:hover {
    opacity: 0.6;
}

