.navlinks {

    width: 800px;
    position: relative;
    left: -290px;
    height: 50px;
    margin-top: 5px;
    transition: left .4s linear;
}


.navlinks:hover {
    left: 0px;
}

.navlinks a {
    color: orangered;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    border: #666666 2px solid;
    /*margin-right: 5px;*/
    background-color: tan;
    margin: 10px;
}

.navlinks img {
        width: 50px;
}


.navlinks a:active, a:focus {
    color: maroon;
    font-size: 20px;
}

.navlinks a:hover {
    color: maroon;
}

