.defaultButton {
    margin-top: 3px;
    border-radius: 5px;
}

.red {
    background: red;
    border-radius: 5px;
}

.red:hover {
    background: tomato;
    outline: none;
    box-shadow: 0 0 0 4px #666666;
    border: maroon;
}

.defaultButton:hover {
    box-shadow: 0 0 0 4px #666666;
}

.defaultButton:focus {
    background: #1d49aa;
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;

}

.defaultButton:disabled:hover {
    background: #cbd6ee;
}
